@font-face {
  font-family: Neucha;
  src: url(font/neucha/Neucha-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(font/Open_Sans/OpenSans.ttf);
}

:root {
  --primary: #fe8a02;
  --white-50: #d7ccc0;
  --primary-dark: #42413c;
  --brown: #b09a81;
  --dark-50: #908d8b;
  --dark: #2a2626;
  --light: #f5f4f0;
  --white: #fff;
  box-sizing: border-box;
}

.text--primary {
  color: var(--primary);
}

.text--black {
  color: var(--dark);
}

.text--white {
  color: var(--white);
}

h1,
h2,
h3 {
  font-family: Neucha;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  color: var(--text, #2a2626);
  font-family: Neucha;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  font-family: Neucha;
  color: var(--dark-50);
  margin: 0;
  font-size: 24px;
}

h5 {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.hello {
  display: block;
  color: var(--white);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 160%;
  color: var(--dark);
}

.page__name {
  margin-bottom: 195px;
}

.page__name > h1 {
  margin: 0;
  padding: 0;
}

.page {
  position: relative;
  width: 1440px;
  height: 914px;
}
.page_background-image {
  z-index: -2;
  overflow: hidden;
}

.page_background-image::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.1;
  background: url(image/background.png), lightgray 50% / cover no-repeat;
}

.page__image-main {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 525px;
  top: 30px;
  right: -290px;
}

.main {
  position: relative;
  padding-top: 100px;
  width: 1140px;
  margin: auto;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
}

.info__text {
  width: 540px;
}

.info__button {
  display: flex;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  background: var(--primary);
  justify-content: center;
  align-items: center;
}

.button__text {
  color: var(--white);
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

.page__video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
}

.video-section {
  margin: 30px 0 0;
  padding: 0;
  z-index: 1;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.block--primary-dark {
  position: absolute;
  width: 100%;
  height: 100px;
  background: var(--primary-dark);
  bottom: 0;
}

.page__navigation {
  background-color: var(--primary-dark);
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.navigation-name {
  font-family: Neucha;
  font-size: 52px;
  line-height: 1.2;
  width: 350px;
  height: 350px;
}

.navigation-name > p {
  margin: 0;
  padding: 0;
}
.navigation-block {
  width: 350px;
  height: 350px;
  background-color: var(--white);
}

.navigation-block__number {
  font-family: Neucha;
  font-size: 64px;
  color: var(--primary-dark);
  margin: 24px 0 40px 24px;
  padding-top: 24px;
}

.navigation-block__name {
  margin: 0 24px;
  font-family: Neucha;
  color: var(--primary);
}

.navigation-block__info {
  margin: 16px 24px 0;
  color: var(--dark);
}

.box-shadow {
  vertical-align: middle;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
}

.main-column {
  column-gap: 0px;
  column-count: 2;
}

.desc-column {
  column-gap: 30px;
  column-count: 2;
}

.theme__left {
  margin-left: 30px;
}

.theme__right {
  margin-right: 30px;
}

.theme-info {
  margin-top: 30px;
}

.page__light {
  background: var(--light);
}

.desc-name {
  margin: 100px 0 20px;
  height: 26px;
}
.desc-name > h5 {
  padding: 5px;
}

.desc p {
  margin: 0;
  padding: 0;
}

.bg__brown {
  background-color: var(--brown);
}

.white,
.desc__white {
  color: var(--white);
}

.white-50 {
  color: var(--white-50);
}

.brown {
  color: var(--brown);
}

.bg__white {
  background-color: var(--white);
}

.image {
  overflow: hidden;
}

footer {
  height: 580px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscripe {
  color: var(--white);
  position: relative;
  display: flex;
  height: 190px;
  background-color: var(--primary-dark);
  margin-bottom: 75px;
}

.subs-rule,
.subs-rule a {
  margin: 0;
  color: var(--white);
  font-size: 12px;
}
.subs-text {
  margin: 0;
  padding: 55px 170px 55px 55px;
  font-family: Neucha;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

input {
  padding: 0;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  width: 420px;
  height: 50px;
}
input:focus {
  border-radius: 0;
}
label {
  color: var(--white);
  font-family: OpenSans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

::placeholder {
  padding: 15px;
  opacity: 0.2;
}

button {
  border: 0;
  width: 70px;
  height: 50px;
  background-color: var(--primary);
  background-image: url(./image/send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.production {
  color: var(--dark);
  text-align: center;
  font-family: OpenSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.production a {
  color: #1085c5;
  text-align: center;
  font-family: OpenSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration-line: underline;
}

.input {
  display: flex;
}
