@font-face {
  font-family: Neucha;
  src: url(font/neucha/Neucha-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(font/Open_Sans/OpenSans.ttf);
}

:root {
  --primary: #fe8a02;
  --white-50: #d7ccc0;
  --primary-dark: #42413c;
  --brown: #b09a81;
  --dark-50: #908d8b;
  --dark: #2a2626;
  --light: #f5f4f0;
  --white: #fff;
}

h1,
h2,
h3 {
  font-family: Neucha;
  line-height: 120%;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.hello {
  display: block;
  color: var(--white);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 160%;
  color: var(--dark);
}

.name {
  margin: 0px;
}

.name-primary {
  color: var(--primary);
}

.page {
  position: relative;
  width: 100%;
  height: 914px;
}

.bgim::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.1;
  background: url(image/background.png), lightgray 50% / cover no-repeat;
}

.image1 {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 525px;
  top: 55px;
  right: -255px;
}

.border {
  padding-top: 100px;
  width: 1140px;
  margin: auto;
}

.text {
  position: relative;
  display: inline-flex;
  margin-top: 185px;
  width: 540px;
}
.text1 {
  margin-right: 30px;
}
